.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 580px;
    padding: 50px 100px;
    background-color: #392350;
    margin: 119px auto 0;
    padding-top: 60px;
    border: 0;
    border-radius: 10px;
}

.title {
    font-family: Comfortaa;
    font-size: 38px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}

.group {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    padding: 0;
}

.input:last-child {
    margin-bottom: 10px;
}

.label {
    padding-left: 20px;
    line-height: 1.2;
}

.input {
    width: 380px;
    height: 70px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 36px;
}

.input:last-child {
    margin-bottom: 10px;
}

.input:focus,
.input:hover {
    border: 2px solid #b865d6;
}

.button {
    border: 0;
    border-radius: 10px;
    background: linear-gradient(to right, #2e00b1, #a400be);
    color: #fff;
    width: 380px;
    height: 70px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background: linear-gradient(to left, #2e00b1, #a400be);
}

.button:focus {
    background: linear-gradient(to left, #2e00b1, #a400be, #2e00b1);
}

.button:active {
    background: #2e00b1;
}

.titleError {
    font-size: 30px;
    color: tomato;
}
